.header {
	color: white;
	font-size: 24px;
	font-weight: bold;
	
}
.nav{
	font-size: 24px;
	font-weight: bold;
	background-color: black;

}

.bgheader {
	background-image: url("header.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	top: 0px;
}
.parkimage {
	vertical-align: top;
	display: inline-block;
	padding-left: 100px;
}

.parkstatecodedescription {
	font-size: 20px;
	width: 45%;
	color: #006400;
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;

}
.quote {
	padding: 30px;
	font: georgia;
	font-size: 24px;
	text-align: center;
}
.parkdetails {
	font-size: 20px;
	width: 45%;
	color: #006400;
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;


}
.iftest {
	font-size: 20px;
	color: darkred;
	text-align: center;
}
.one {
	display: block;
}

.main {
	background-image: url("NPS.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.footer {
	display: block;
	padding: 20px;
	text-align: center;
}

.emailAddress{
	display: block;
	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 50px;
 	padding-right: 20px;
}

.activity{
	display: block;
	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 50px;
 	padding-right: 20px;
}

.parkCode{
	display: block;
	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 50px;
 	padding-right: 20px;
}

.state{
	display: block;
	padding-top: 20px;
 	padding-bottom: 200px;
 	padding-left: 50px;
 	padding-right: 20px;
	
}

table {
	border-radius: 30px;
	background-color: rgba(188, 217, 255, .8);
}

table, td, tr {
	margin: 0 auto;
	text-align: center;
	border: none;
	color: white;
  	text-shadow:
   	-1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.weather-dropdown {
	margin-left: 10%;
	max-width: 200px;
	background-color: rgba(188, 217, 255, .8);
	padding-left: 50px;
	padding-right: 10px;
	padding-bottom: 8px;
}

.container {
	background: linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);
	transform: scale(.9);
	width: 150px;
	height: 150px;
	padding-top: 50px;
	padding-left: 100px;
/* 	left: 50%;
	top: 50%; */
	/* margin: 0 auto; */
}

/* SUNNY */
.sunny { 
	animation: sunny 15s linear infinite;
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
	height: 140px;
	width: 20px; 
	margin-left: 20px;
	position: absolute;
	left: 90px;  
	top: 20px;
}
.sunny:before {
	background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
	content: ''; 
	height: 140px; 
	width: 20px;
	opacity: 1; 
	position: absolute;
	bottom: 0px;
	left: 0px; 
	transform: rotate(90deg);
}
.sunny:after {
	background: #FFEE44; 
	border-radius: 50%; 
	box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
	content: '';  
	height: 80px;
	width: 80px;  
	position: absolute; 
	left: -30px; 
	top: 30px;
}
@keyframes sunny { 
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* CLOUDY */
.cloudy {
	animation: cloudy 5s ease-in-out infinite;
	background: #FFFFFF;
	border-radius: 50%;
	box-shadow: 
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
	height: 50px;
	width: 50px; 
	margin-left: -60px;
	/* position: absolute; */
	left: 255px;
	top: 70px; 
}
.cloudy:after {
	animation: cloudy_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	/* position: absolute; */
	left: 5px; 
	bottom: -60px;
  transform: scale(1);
}
@keyframes cloudy {
	50% { transform: translateY(-20px); }
}
@keyframes cloudy_shadow {
	50% { transform: translateY(20px) scale(.7); opacity:.05; }
}

/* RAINY */
.rain {
	animation: rain 5s ease-in-out infinite 1s;
	background: #CCCCCC; 
	border-radius: 50%;
	box-shadow: 
		#CCCCCC 65px -15px 0 -5px, 
		#CCCCCC 25px -25px, 
		#CCCCCC 30px 10px, 
		#CCCCCC 60px 15px 0 -10px, 
		#CCCCCC 85px 5px 0 -5px;
	display: block;
	height: 50px;
	width: 50px;
	margin-left: -60px;
	/* position: absolute; */
	left: 427px;
	top: 70px;
}
.rain:after {
	animation: rain_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
/* 	position: absolute; */
	left: 5px; 
	bottom: -60px;
	transform: scale(1);
}
.rain:before {
	animation: rain_rain .7s infinite linear;
	content: '';
	background: #CCCCCC;
	border-radius: 50%;
	display: block;
	height: 6px;
	width: 3px;
	opacity: 0.3;
	transform: scale(.9);
}
@keyframes rain {
	50% { transform: translateY(-20px); }
}
@keyframes rain_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes rain_rain {
	0% {  
		box-shadow: 
			rgba(0,0,0,0) 30px 30px, 
			rgba(0,0,0,0) 40px 40px,  
			#000 50px 75px, 
			#000 55px 50px, 
			#000 70px 100px, 
			#000 80px 95px, 
			#000 110px 45px, 
			#000 90px 35px; 
	}
	25% {  
	  	box-shadow: 
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 120px,
			rgba(0,0,0,0) 80px 120px,
			#000 110px 70px,
			#000 90px 60px;
	}
	26% {  
		box-shadow:
			#000 30px 45px,
			#000 40px 60px,
			#000 50px 90px,
			#000 55px 65px,
			rgba(0,0,0,0) 70px 40px,
			rgba(0,0,0,0) 80px 20px,
			#000 110px 70px,
			#000 90px 60px; 
	}
	50% { 
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 100px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	51% {
		box-shadow:
			#000 30px 70px,
			#000 40px 80px,
			rgba(0,0,0,0) 50px 45px,
			#000 55px 80px,
			#000 70px 60px,
			#000 80px 45px,
			#000 110px 95px,
			#000 90px 85px;
	}
	75% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 95px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 120px,
			rgba(0,0,0,0) 90px 110px;
	}
	76% {
		box-shadow:
			#000 30px 95px,
			#000 40px 100px,
			#000 50px 60px,
			rgba(0,0,0,0) 55px 35px,
			#000 70px 80px,
			#000 80px 70px,
			rgba(0,0,0,0) 110px 25px,
			rgba(0,0,0,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 30px 120px,
			rgba(0,0,0,0) 40px 120px,
			#000 50px 75px,
			#000 55px 50px,
			#000 70px 100px,
			#000 80px 95px,
			#000 110px 45px,
			#000 90px 35px;
	}
}


/* STORMY */
.thunderstorms {
	animation: thunderstorms 5s ease-in-out infinite;
	background: #222222;
	border-radius: 50%;
	box-shadow: 
		#222222 65px -15px 0 -5px, 
		#222222 25px -25px, 
		#222222 30px 10px, 
		#222222 60px 15px 0 -10px, 
		#222222 85px 5px 0 -5px;
	height: 50px;  
	width: 50px; 
	margin-left: -70px; 
	/* position: absolute; */
	left: 947px; 
	top: 70px; 
}
.thunderstorms:after {
	animation: thunderstorms_shadow 5s ease-in-out infinite;
	background: #000;
	border-radius: 50%;
	content: '';
	height: 15px; 
	width: 120px; 
	opacity: 0.2;
	/* position: absolute; */
	left: 5px; 
	bottom: -60px;
	transform: scale(1);
}
.thunderstorms:before {
	animation: thunderstorms_thunder 2s steps(1, end) infinite; 
	border-left: 0px solid transparent;
	border-right: 7px solid transparent;
	border-top: 43px solid yellow; 
	box-shadow: yellow -7px -32px;
	content: '';
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	left: 57px;
	top: 70px;
	transform: rotate(14deg);
	transform-origin: 50% -60px;
}
@keyframes thunderstorms {
	50% { transform: translateY(-20px); } 
}  
@keyframes thunderstorms_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes thunderstorms_thunder {
	0%  { transform: rotate(20deg); opacity:1; }
	5%  { transform: rotate(-34deg); opacity:1; }
	10% { transform: rotate(0deg); opacity:1; }
	15% { transform: rotate(-34deg); opacity:0; }
}

/* SNOWY */
.snow {
	animation: snow 5s ease-in-out infinite 1s;
	background: #FFFFFF; 
	border-radius: 50%;
	box-shadow: 
		#FFFFFF 65px -15px 0 -5px, 
		#FFFFFF 25px -25px, 
		#FFFFFF 30px 10px, 
		#FFFFFF 60px 15px 0 -10px, 
		#FFFFFF 85px 5px 0 -5px;
	display: block;
	height: 50px;
	width: 50px;
	margin-left: -60px;
	/* position: absolute; */
	left: 1112px;
	top: 70px;
}
.snow:after {
	animation: snow_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 15px;
	width: 120px;
	opacity: 0.2;
	/* position: absolute; */
	left: 8px;
	bottom: -60px;
	transform: scale(1);
}
.snow:before {
	animation: snow_snow 2s infinite linear;
	content: '';
	border-radius: 50%;
	display: block;
	height: 7px;
	width: 7px;
	opacity: 0.8;
	transform: scale(.9);
}
@keyframes snow {
	50% { transform: translateY(-20px); }
}
@keyframes snow_shadow {
	50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
}
@keyframes snow_snow {
	0% {  
		box-shadow: 
			rgba(238,238,238,0) 30px 30px, 
			rgba(238,238,238,0) 40px 40px,  
			#EEEEEE 50px 75px, 
			#EEEEEE 55px 50px, 
			#EEEEEE 70px 100px, 
			#EEEEEE 80px 95px, 
			#EEEEEE 110px 45px, 
			#EEEEEE 90px 35px; 
	}
	25% {  
	  	box-shadow: 
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 120px,
			rgba(238,238,238,0) 80px 120px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	26% {  
		box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 40px,
			rgba(238,238,238,0) 80px 20px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px; 
	}
	50% { 
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 100px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	51% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 45px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	75% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 95px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 120px,
			rgba(238,238,238,0) 90px 110px;
	}
	76% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 35px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 25px,
			rgba(238,238,238,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 30px 120px,
			rgba(238,238,238,0) 40px 120px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
}

/*
header p {
	color: white;
}

nav {
	background-color: #f2f2f2;
}

/* nav li 
nav ul {
	list-style: none;
}

nav a {
	color: #009900;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
	color: #c00;
}

.account {
	background-color: #d6f5d6;
	margin-bottom: 1em;
}

.account img {
	background-color: white;
}

h2 {
	font: 36px Helvetica;
	color: #009900;
}

footer {
	background-color: #bfbfbf;
	margin-top: 1em;
}

h2 {
	font-size: 24px;
}

#checking {
	color: orange;
}

/* remove the styles for .account 
	from the day before  above 



/* box model settings 
/*
header {
  padding: 10px;
}
nav {
  margin: 0 0 3em 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
nav li {
  list-style: none;
}
nav li a {
   padding: 8px 15px;
   border-right: 1px solid #ccc;
}

.account a {
	display: block;
	background-color: white;
	padding: .5em 1em .5em 1em;
	border-radius: 1em;
	text-align: center;
	font-size: 1.1em;
}

.account a {
	color: #009900;
	text-decoration: none;
	font-weight: bold;
}

footer {
	clear: left;
   padding: 10px;
}
.account img {
  background-color: white;
}



/* Sets up the menu as a block display element 

nav li a {
   display: block;
}

/* Menu Float */
/*
nav {
  float: left;
  width: 100%;
}

nav li {
  float: left;
}

/* 3 Column Layout 
.account {
	vertical-align: top;
	display: inline-block;
	width: 350px;
	margin-right: 30px;
	margin-left: 30px;
}

.account img {	
	padding: 10px;
}

.account h2, .account p {
	margin-left: 20px;
	margin-right: 20px;	
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 30px;
}

.formInputGroup {
	margin-bottom: .5em;
}

.formInputGroup label {
	display: inline-block;
	width: 8em;
	text-align: right;
}

.formSubmitButton {
	display: relative;
	margin-left: auto;
	margin-right: auto;
}

#loanPaymentCalculationResults th {
	text-align: right;
}

#loanPaymentCalculationResults td {
	padding-left: 1em;
	*/